:root{
    --fundo: #53a3ee;
    --cartao-frente:#0c4af5;
    --cartao-verso: #cfffc0;
    --branco: #ffffff;
    --preto:#000000;
    --destaque: #86ff14;
    
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--preto);
    color: var(--brando);
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao-conteudo{
    background-color: var(--cartao-frente);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao-conteudo h3{
    position: absolute;
    color: var(--destaque);
    border: 1px solid var(--destaque);
    text-align: left;
    margin: 0.6rem;
    border-radius: 0.5rem;
}